/* Using bootstrap for the form */
/* Using Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

body {
  background-color: snow;
  margin: 0 auto;
  margin-top: 200px;
  font-family: 'Raleway', sans-serif;
}

.form-name {
  font-weight: 700;
  text-align: center;
}

.container {
  max-width: 500px;
  background-color: gainsboro;
  padding: 20px;
  border-radius: 10px;
  font-weight: 400;
}

.submit-btn {
  text-align: center;
}

.btn-primary {
  background-color: salmon;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: yellowgreen;
  color: white;
  transform: scale(1.05, 1.05);
}

.patientlog-btn-container {
  text-align: center;
  padding-top: 20px;
}

.patientlog-btn {
  background-color: slategrey;
  color: white;
}

/* .login-form {
  text-align: center;
  font-size: 24px;
}

.form-container {
  margin: 0 auto;
  padding: 20px 20px;
  background-color: lightseagreen;
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.submitButton {
  margin: 20px;
  height: 40px;
  cursor: pointer;
} */
